.maid-corp {
    background-color   : #bcb5bc;
    background-image   : url(/images/maidcorp.png);
    background-size    : auto 100%;
    background-position: left center;
    background-repeat  : no-repeat;
    height             : 200px;
    cursor             : pointer;
    padding            : 20px 20px 20px 180px;
}