#nurse {
    padding: 60px 0;

    >h2 {
        font-size    : 48px;
        font-weight  : bold;
        color        : #363138;
        margin-bottom: 20px;
    }

    >p {
        color: #564f5b;
    }
}