@import "base.less";
@import url("https://rsms.me/inter/inter.css");

body {
    background-color     : #dfdcd7;
    font-family          : "Inter var";
    font-feature-settings: "ss01"on, "ss02"on, "cv01"on, "cv03"on;
}

a {
    color          : inherit;
    text-decoration: inherit;
}

// components
@import "components/menu.less";
@import "components/farm-list.less";
@import "components/maid-corp.less";
@import "components/user-info.less";
@import "components/maid/maid-list.less";
@import "components/maid/maid-summary.less";
@import "components/maid/maid-detail.less";
@import "components/nurse/nurse-raid-list.less";
@import "components/nurse/nurse-raid.less";
@import "components/nurse/nurse-factory-list.less";
@import "components/nurse/nurse-factory.less";
@import "components/nurse/clone-nurse.less";

// view
@import "view/layout.less";
@import "view/home.less";
@import "view/maid.less";
@import "view/nurse.less";
@import "view/earn.less";
@import "view/admin.less";

// test view
@import "view/test/test-lp-token.less";