@import "base.less";
@import url("https://rsms.me/inter/inter.css");

body {
    background-color: #dfdcd7;
    font-family     : "Inter var";
}

a {
    color          : inherit;
    text-decoration: inherit;
}

// components
@import "components/menu.less";
@import "components/maid/maid-list.less";
@import "components/maid/maid-summary.less";
@import "components/maid/maid-detail.less";
@import "components/nurse/nurse-raid.less";
@import "components/nurse/nurse-factory.less";

// views
@import "view/layout.less";
@import "view/maid.less";
@import "view/admin.less";