.nurse-factory-list {
    >.total-count {
        text-align: right;
        color     : #564f5b;
    }

    >.factory-container {
        >.nurse-factory {
            margin-top: 20px;
        }
    }
}