@import url(https://rsms.me/inter/inter.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
body {
  background-color: #dfdcd7;
  font-family: "Inter var";
}
a {
  color: inherit;
  text-decoration: inherit;
}
.menu {
  position: fixed;
  z-index: 999;
  background-color: #dfdcd7;
  border: 1px solid #363138;
  color: #363138;
  width: 200px;
}
.menu .menu-item {
  display: block;
  padding: 10px 0;
  text-align: center;
}
.farm-list > .total-count {
  text-align: right;
  color: #564f5b;
}
.farm-list > .farm-container {
  margin-left: -20px;
  width: calc(100% + 20px);
}
.farm-list > .farm-container:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.farm-list > .farm-container > .maid-corp,
.farm-list > .farm-container > .clone-nurse {
  float: left;
  width: calc(50% - 20px);
  margin-left: 20px;
  margin-top: 20px;
}
.maid-corp {
  background-color: #bcb5bc;
  background-image: url(/images/maidcorp.png);
  background-size: auto 100%;
  background-position: left center;
  background-repeat: no-repeat;
  height: 200px;
  padding: 20px 20px 20px 180px;
  position: relative;
}
.maid-corp > .control {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
}
.maid-corp > .control:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.maid-corp > .control > .deposit-button,
.maid-corp > .control > .withdraw-button {
  float: left;
  margin-left: 10px;
  background-color: #dfdcd7;
  border: 1px solid #363138;
  color: #363138;
  padding: 10px 20px;
  border-radius: 50px;
}
.maid-corp > .control > .deposit-button:hover,
.maid-corp > .control > .withdraw-button:hover {
  background-color: #363138;
  color: #dfdcd7;
}
.user-info {
  display: flex;
}
.user-info > .connect-button {
  border: 1px solid #dfdcd7;
  color: #dfdcd7;
  padding: 10px 20px;
  border-radius: 50px;
}
.user-info > .connect-button:hover {
  background-color: #dfdcd7;
  color: #363138 !important;
}
.user-info > .maid-coin {
  border: 1px solid #dfdcd7;
  border-right: none;
  border-radius: 10px 0 0 10px;
  line-height: 38px;
  padding: 0 10px;
}
.user-info > .user-info {
  border: 1px solid #dfdcd7;
  border-radius: 0 10px 10px 0;
  line-height: 38px;
  padding: 0 10px;
}
.maid-list > .total-count {
  text-align: right;
  color: #564f5b;
}
.maid-list > .maid-container > .maid-summary {
  margin-top: 20px;
}
.maid-summary {
  background-color: #bcb5bc;
  display: flex;
  position: relative;
  height: 200px;
  cursor: pointer;
}
.maid-summary > .loading {
  padding: 20px;
}
.maid-summary > .image {
  height: 200px;
}
.maid-summary > .info {
  flex-grow: 1;
  padding: 15px;
}
.maid-summary > .info > h4 {
  font-weight: bold;
  font-size: 30px;
  color: #363138;
  margin-bottom: 10px;
}
.maid-summary > .info > .property {
  margin-top: 5px;
}
.maid-summary > .info > .control {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
}
.maid-summary > .info > .control:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.maid-summary > .info > .control > .support-button {
  float: right;
  background-color: #dfdcd7;
  border: 1px solid #363138;
  color: #363138;
  padding: 10px 20px;
  border-radius: 50px;
}
.maid-summary > .info > .control > .support-button:hover {
  background-color: #363138;
  color: #dfdcd7;
}
.maid-detail {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  padding: 30px;
  background: rgba(54, 49, 56, 0.9);
}
.maid-detail > .content {
  display: flex;
  justify-content: center;
  height: 100%;
}
.maid-detail > .content > .loading {
  color: #dfdcd7;
  padding: 50px;
}
.maid-detail > .content > .image {
  height: 100%;
}
.maid-detail > .content > .image > img {
  height: 100%;
}
.maid-detail > .content > .info {
  color: #dfdcd7;
  padding: 50px;
}
.maid-detail > .content > .info:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.maid-detail > .content > .info > h4 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}
.maid-detail > .content > .info > .property {
  margin-top: 5px;
}
.maid-detail > .content > .info .voice-button {
  margin-top: 15px;
  float: left;
}
.maid-detail > .close-button {
  position: absolute;
  right: 30px;
  top: 30px;
  padding: 10px;
  color: #dfdcd7;
  font-size: 30px;
}
.nurse-raid-list > .current-block {
  float: left;
}
.nurse-raid-list > .total-count {
  float: right;
  color: #564f5b;
}
.nurse-raid-list > .raid-container {
  clear: both;
  margin-left: -20px;
  width: calc(100% + 20px);
}
.nurse-raid-list > .raid-container:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.nurse-raid-list > .raid-container > .nurse-raid {
  float: left;
  width: calc(50% - 20px);
  margin-left: 20px;
  margin-top: 20px;
}
.nurse-raid {
  background-color: #bcb5bc;
  display: flex;
  position: relative;
  height: 200px;
  cursor: pointer;
}
.nurse-raid > .loading {
  padding: 20px;
}
.nurse-raid > .image {
  height: 200px;
}
.nurse-raid > .info {
  flex-grow: 1;
  padding: 15px;
}
.nurse-raid > .info > h4 {
  font-weight: bold;
  font-size: 30px;
  color: #363138;
  margin-bottom: 10px;
}
.nurse-raid > .info > .property {
  margin-top: 5px;
}
.nurse-raid > .info > .control {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
}
.nurse-raid > .info > .control:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.nurse-raid > .info > .control > .enter-button,
.nurse-raid > .info > .control > .exit-button {
  float: left;
  margin-left: 10px;
  background-color: #dfdcd7;
  border: 1px solid #363138;
  color: #363138;
  padding: 10px 20px;
  border-radius: 50px;
}
.nurse-raid > .info > .control > .enter-button:hover,
.nurse-raid > .info > .control > .exit-button:hover {
  background-color: #363138;
  color: #dfdcd7;
}
.nurse-factory-list > .total-count {
  text-align: right;
  color: #564f5b;
}
.nurse-factory-list > .factory-container {
  margin-left: -20px;
  width: calc(100% + 20px);
}
.nurse-factory-list > .factory-container:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.nurse-factory-list > .factory-container > .nurse-factory {
  float: left;
  width: calc(50% - 20px);
  margin-left: 20px;
  margin-top: 20px;
}
.nurse-factory {
  background-color: #bcb5bc;
  display: flex;
  position: relative;
  height: 200px;
  cursor: pointer;
}
.nurse-factory > .loading {
  padding: 20px;
}
.nurse-factory > .image {
  height: 200px;
}
.nurse-factory > .info {
  flex-grow: 1;
  padding: 15px;
}
.nurse-factory > .info > h4 {
  font-weight: bold;
  font-size: 30px;
  color: #363138;
  margin-bottom: 10px;
}
.nurse-factory > .info > .property {
  margin-top: 5px;
}
.nurse-factory > .info > .control {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
}
.nurse-factory > .info > .control:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.nurse-factory > .info > .control > .assemble-button {
  float: right;
  background-color: #dfdcd7;
  border: 1px solid #363138;
  color: #363138;
  padding: 10px 20px;
  border-radius: 50px;
}
.nurse-factory > .info > .control > .assemble-button:hover {
  background-color: #363138;
  color: #dfdcd7;
}
.clone-nurse {
  background-color: #bcb5bc;
  display: flex;
  position: relative;
  height: 200px;
  cursor: pointer;
}
.clone-nurse > .loading {
  padding: 20px;
}
.clone-nurse > .image {
  height: 200px;
}
.clone-nurse > .info {
  flex-grow: 1;
  padding: 15px;
}
.clone-nurse > .info > h4 {
  font-weight: bold;
  font-size: 30px;
  color: #363138;
  margin-bottom: 10px;
}
.clone-nurse > .info > .property {
  margin-top: 5px;
}
.clone-nurse > .info > .control {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
}
.clone-nurse > .info > .control:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clone-nurse > .info > .control > .support-button,
.clone-nurse > .info > .control > .desupport-button {
  float: right;
  background-color: #dfdcd7;
  border: 1px solid #363138;
  color: #363138;
  padding: 10px 20px;
  border-radius: 50px;
}
.clone-nurse > .info > .control > .support-button:hover,
.clone-nurse > .info > .control > .desupport-button:hover {
  background-color: #363138;
  color: #dfdcd7;
}
#layout {
  padding-top: 64px;
}
#layout > header {
  background-color: #363138;
  color: #ccc5c8;
  padding: 12px 16px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
}
#layout > header img.logo {
  display: block;
  height: 36px;
  margin-right: 16px;
}
#layout > header a:hover {
  color: #fff;
}
#layout > header nav {
  display: flex;
  flex-grow: 1;
}
#layout > header nav a {
  padding: 12px;
  margin-right: 8px;
}
#layout > header .more-button {
  padding: 12px;
}
#layout > main {
  width: 920px;
  margin: auto;
}
#layout > footer {
  border-top: 1px solid #bcb5bc;
  color: #564f5b;
  padding: 20px 0;
  width: 920px;
  margin: auto;
  margin-top: 20px;
  text-align: right;
}
#home {
  padding: 60px 0;
}
#home > header > h2 {
  font-size: 48px;
  font-weight: bold;
  color: #363138;
  margin-bottom: 20px;
  text-align: center;
}
#home > header > p {
  color: #363138;
  margin-bottom: 20px;
  text-align: center;
}
#home > header > .detail-button {
  background-color: #dfdcd7;
  border: 1px solid #363138;
  color: #363138;
  padding: 10px;
  border-radius: 50px;
  width: 200px;
  display: block;
  margin: auto;
  text-align: center;
}
#home > header > .detail-button:hover {
  background-color: #363138;
  color: #dfdcd7;
}
#maid {
  padding: 60px 0;
}
#maid > h2 {
  font-size: 48px;
  font-weight: bold;
  color: #363138;
  margin-bottom: 20px;
}
#maid > p {
  color: #564f5b;
}
#maid > .maid-list {
  margin-top: 30px;
}
#nurse {
  padding: 60px 0;
}
#nurse > h2 {
  font-size: 48px;
  font-weight: bold;
  color: #363138;
  margin-bottom: 20px;
}
#nurse > p {
  color: #564f5b;
}
#nurse > .nurse-raid-list {
  margin-top: 30px;
  margin-bottom: 50px;
}
#nurse > .nurse-factory-list {
  margin-top: 30px;
}
#earn {
  padding: 60px 0;
}
#earn > h2 {
  font-size: 48px;
  font-weight: bold;
  color: #363138;
  margin-bottom: 20px;
}
#earn > p {
  color: #564f5b;
}
#earn > .farm-list {
  margin-top: 30px;
}
#admin {
  padding: 60px 0;
}
#admin > h2 {
  font-size: 48px;
  font-weight: bold;
  color: #564f5b;
  margin-bottom: 20px;
}
#admin > p {
  color: #564f5b;
}
#admin > .current-block {
  margin-bottom: 50px;
}
#admin > .admin-form {
  margin-bottom: 50px;
}
#admin > .admin-form > h3 {
  font-size: 30px;
  font-weight: bold;
  color: #564f5b;
  margin-bottom: 20px;
}
#admin > .admin-form > label {
  display: block;
  margin-bottom: 10px;
  color: #363138;
  font-weight: bold;
}
#admin > .admin-form > label > input {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #bcb5bc;
  border-radius: 5px;
}
#admin > .admin-form > .action-button-container:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#admin > .admin-form > .action-button-container > .action-button {
  float: left;
  background-color: #dfdcd7;
  border: 1px solid #363138;
  color: #363138;
  padding: 10px 20px;
  border-radius: 50px;
}
#admin > .admin-form > .action-button-container > .action-button:hover {
  background-color: #363138;
  color: #dfdcd7;
}
#test-lp-token {
  padding: 60px 0;
}
#test-lp-token > h2 {
  font-size: 48px;
  font-weight: bold;
  color: #564f5b;
  margin-bottom: 20px;
}
#test-lp-token > .info {
  line-height: 1.5em;
  color: #564f5b;
}
#test-lp-token > .control {
  margin-top: 20px;
}
#test-lp-token > .control:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#test-lp-token > .control > .mint-button {
  float: left;
  background-color: #dfdcd7;
  border: 1px solid #363138;
  color: #363138;
  padding: 10px 20px;
  border-radius: 50px;
}
#test-lp-token > .control > .mint-button:hover {
  background-color: #363138;
  color: #dfdcd7;
}

